{% extends "_base.html" %} 
{% load static %}
{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">🎬 نتایج جستجو</h1>
        <p class="text-center">شما جستجو کردید برای: <strong>{{ query }}</strong></p>

        <div class="d-flex flex-wrap justify-content-center align-items-stretch gap-4">
            {% if results %}
                {% for movie in results %}
                    <div class="card text-center shadow-sm" style="width: 18rem;">
                        <div class="card shadow-sm h-100 text-center">
                            <a href="{{ movie.get_absolute_url }}" class="text-decoration-none text-dark">
                                {% if movie.poster %}
                                    <img src="{{ movie.poster.url }}" class="card-img-top" alt="{{ movie.name }}" style="height: 250px; object-fit: cover;">
                                {% else %}
                                    <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="تصویری در دسترس نیست" style="height: 250px; object-fit: cover;">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ movie.name }}</h5>
                                    <span class="badge bg-primary">{{ movie.category }}</span>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center mt-5 text-muted">هیچ نتیجه‌ای پیدا نشد.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
